<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/carddraw/card_yj_dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,294},{496,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{496,173}</string>
			</dict>
			<key>image/cardturntable/icon_coins1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1699},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/cardturntable/words_YouWin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,902},{215,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{215,76}</string>
			</dict>
			<key>image/cardturntable/BTN_spin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,377},{304,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{304,109}</string>
			</dict>
			<key>image/cardturntable/BTN_spin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,1394},{304,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{304,109}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,524},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,524},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,337},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,488},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,902},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1327},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,860},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1274},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,709},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1232},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1646},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1700},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1274},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1003},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,721},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,792},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,1164},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1229},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,1500},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Card_lunpan_kuaigun_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1564,1536},{370,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,224}</string>
			</dict>
			<key>image/cardturntable/Title_cong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{725,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{725,139}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_BTN_COLLECTNOW.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,790},{300,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,102}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_BTN_COLLECTNOW2.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1092},{300,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,102}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_zhizhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1355},{133,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,82}</string>
			</dict>
			<key>image/effect/Card_book_star_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1543,1762},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>image/effect/Card_spinsg00.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,337},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg01.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,337},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg02.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,337},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,750},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg04.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,750},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg05.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,750},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg06.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,750},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg07.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,750},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg08.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,337},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg09.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,337},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg10.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,488},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg11.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,619},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg12.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,750},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1999},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg14.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1999},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,761},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg16.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,881},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,892},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg18.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1012},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,1023},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg20.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1143},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg21.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1749},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg22.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1604},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg23.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,1644},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg24.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1604},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg25.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1644},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_spinsg26.png</key>
			<dict>
				<key>frame</key>
				<string>{{711,1926},{129,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,38}</string>
			</dict>
			<key>image/effect/Card_yaogan_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,902},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1034,377},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,337},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,529},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,569},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,971},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1163},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1327},{67,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,190}</string>
			</dict>
			<key>image/effect/Card_yaogan_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{446,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{446,380}</string>
			</dict>
			<key>image/level/ChipLighting.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1},{291,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{291,491}</string>
			</dict>
			<key>image/level/CoinTree.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,1},{291,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{291,491}</string>
			</dict>
			<key>image/level/DoubleRapid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,1},{291,491}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{291,491}</string>
			</dict>
			<key>image/load/loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,294},{957,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{957,41}</string>
			</dict>
			<key>image/load/loadingbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1928,1},{1000,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1000,86}</string>
			</dict>
			<key>image/shop/rate_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,1081},{171,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,149}</string>
			</dict>
			<key>image/shop/rate_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1801,1762},{233,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,226}</string>
			</dict>
			<key>image/shop/rate_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,294},{330,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,282}</string>
			</dict>
			<key>image/start/FixLayer_bottom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,1},{96,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,17}</string>
			</dict>
			<key>image/start/FixLayer_bottom_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2016,99},{91,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,13}</string>
			</dict>
			<key>image/start/FixLayer_bottom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1749},{292,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{292,108}</string>
			</dict>
			<key>image/start/FixLayer_bottom_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,792},{638,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{638,108}</string>
			</dict>
			<key>image/start/FixLayer_da_jinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{322,322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,322}</string>
			</dict>
			<key>image/start/FixLayer_da_jinbi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,1601},{322,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{322,229}</string>
			</dict>
			<key>image/start/FixLayer_yidaduijinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,1519},{228,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{228,159}</string>
			</dict>
			<key>image/start/FixLayer_yixiaoduijinbi.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,1880},{96,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,46}</string>
			</dict>
			<key>image/start/FixLayer_zhuanpan.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1926},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SlotPlist2.png</string>
			<key>realTextureFileName</key>
			<string>SlotPlist2.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>