<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/common/FixLayer_bottom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,570},{583,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{583,108}</string>
			</dict>
			<key>image/common/FixLayer_bottom_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,570},{437,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{437,66}</string>
			</dict>
			<key>image/common/spin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,452},{247,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,116}</string>
			</dict>
			<key>image/ui/coin_dollar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,125},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>image/ui/game_down_bg_zuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,938},{34,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,91}</string>
			</dict>
			<key>image/ui/GameLayer_buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,938},{62,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,29}</string>
			</dict>
			<key>image/ui/GameLayer_buy_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,394},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_buy_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,633},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_invalid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1669,751},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_sale_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,629},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_star.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,227},{49,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,46}</string>
			</dict>
			<key>image/ui/GameLayer_top_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,638},{10,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,68}</string>
			</dict>
			<key>image/ui/GameLayer_top_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,510},{239,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{239,78}</string>
			</dict>
			<key>image/ui/GameLayer_top_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1951,384},{100,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,79}</string>
			</dict>
			<key>image/ui/GameLayer_top_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,969},{60,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,44}</string>
			</dict>
			<key>image/ui/btn_add_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,1},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_add_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,63},{41,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,60}</string>
			</dict>
			<key>image/ui/btn_betmax_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1793,886},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_betmax_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1869,886},{127,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,74}</string>
			</dict>
			<key>image/ui/btn_lobby_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,745},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_lobby_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1916,745},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/btn_paytable_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1877,811},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_paytable_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1939,629},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>
			<key>image/ui/btn_sub_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,638},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/btn_sub_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,638},{40,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,59}</string>
			</dict>
			<key>image/ui/ccbParticleStars.png</key>
			<dict>
				<key>frame</key>
				<string>{{1114,638},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>image/ui/game_bottom_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,650},{37,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,15}</string>
			</dict>
			<key>image/ui/game_bottom_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,814},{264,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,70}</string>
			</dict>
			<key>image/ui/game_down_bg_you.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,1},{289,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{289,125}</string>
			</dict>
			<key>image/ui/game_top_coin_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,391},{347,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,59}</string>
			</dict>
			<key>image/ui/GameLayer_effect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,885},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_sale_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1758,687},{179,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,56}</string>
			</dict>
			<key>image/ui/GameLayer_set_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1949,811},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/GameLayer_set_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1982,701},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/ui/rate_cion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,680},{300,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,300}</string>
			</dict>
			<key>image/carddraw/card_yj_deng1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,684},{340,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{340,338}</string>
			</dict>
			<key>image/carddraw/card_yj_deng2.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,684},{336,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{336,338}</string>
			</dict>
			<key>image/carddraw/card_yj_spindown.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,550},{245,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{245,81}</string>
			</dict>
			<key>image/carddraw/card_yj_spinup.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,938},{246,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{246,85}</string>
			</dict>
			<key>image/carddraw/card_yj_zhizhen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1060,974},{76,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,44}</string>
			</dict>
			<key>image/carddraw/fortune1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,1},{176,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,193}</string>
			</dict>
			<key>image/carddraw/fortune3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1431,196},{176,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,193}</string>
			</dict>
			<key>image/carddraw/icon_fortune1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1237,638},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/carddraw/icon_fortune3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1424,638},{298,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{298,185}</string>
			</dict>
			<key>image/ui/coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1793,1},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>image/start/coin_dollar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,176},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>image/start/Card_zhuanpan_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1384,391},{195,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,157}</string>
			</dict>
			<key>image/start/Card_zhuanpan_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,207},{188,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{188,185}</string>
			</dict>
			<key>image/common/btn_back_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,452},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,94}</string>
			</dict>
			<key>image/common/btn_back_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,292},{116,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,94}</string>
			</dict>
			<key>image/common/spin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,391},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_freespin_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1790,207},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/spin_freespin_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1793,510},{249,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{249,117}</string>
			</dict>
			<key>image/common/Express.png</key>
			<dict>
				<key>frame</key>
				<string>{{1727,326},{312,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{312,56}</string>
			</dict>
			<key>image/start/coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1194,1},{213,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{213,204}</string>
			</dict>
			<key>image/ui/game_down_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,459},{594,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{594,109}</string>
			</dict>
			<key>image/cardturntable/ZhuanPan_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,680},{252,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{252,256}</string>
			</dict>
			<key>image/common/Express1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,960},{343,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{343,61}</string>
			</dict>
			<key>image/common/GameLayer_set_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1945,951},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>image/set/close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1738,275},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>image/set/Effects.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,982},{133,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{133,35}</string>
			</dict>
			<key>image/set/guan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1140,938},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>image/set/kai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1196,938},{54,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,20}</string>
			</dict>
			<key>image/set/kgbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,982},{121,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,37}</string>
			</dict>
			<key>image/set/Music.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,982},{119,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,34}</string>
			</dict>
			<key>image/set/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{681,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{681,404}</string>
			</dict>
			<key>image/carddraw/card_yj_jiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{456,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{456,436}</string>
			</dict>
			<key>image/carddraw/card_yj_jiqi1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1832,384},{117,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,124}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SlotPlist1.png</string>
			<key>realTextureFileName</key>
			<string>SlotPlist1.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>