<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/wolflight_scatter_light2.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1782},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1779},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light4.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1459},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1459},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1617},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1644},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,1617},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1802},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,649},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic01.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,811},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic011.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,811},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic013.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,811},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,811},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic017.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,969},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,969},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic02.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,973},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic021.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1134},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic023.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,973},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,973},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1131},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,1292},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic028.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1615},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic029.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1615},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic03.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1293},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic030.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1135},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic032.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,1135},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic033.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1293},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic034.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1297},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,1297},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1455},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,1615},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic09.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1459},{160,321}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,321}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,969},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1453},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic15.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic17.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,1},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic23.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,163},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic25.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,163},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,163},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic27.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,325},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic28.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,325},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,325},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,485},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1777,485},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic32.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,969},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic33.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,487},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic34.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,649},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic35.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1453},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic4.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,487},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,487},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/wolflight_scatter_magic9.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,649},{160,482}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,482}</string>
			</dict>
			<key>Symbol/WolfLight_moom_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,1617},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,1828},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,1829},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh5.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh5.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>