<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol/WolfLight_moom_moomstar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,964},{62,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,54}</string>
			</dict>
			<key>Symbol/WolfLight_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_A.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,212},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,423},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_black.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,845},{183,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,117}</string>
			</dict>
			<key>Symbol/wolflight_scatter_C.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,634},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_E.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,1},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_edit1.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k0.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,1},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k1.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k10.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,186},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k2.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,186},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k3.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,186},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k4.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,212},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k5.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,371},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k6.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,371},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k7.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,371},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k8.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,423},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_k9.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,556},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,556},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light0.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,556},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light1.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,634},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light10.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,741},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light11.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,767},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light12.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,741},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light13.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,819},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh4.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh4.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>