<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/WolfLight_Reel_Run00.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1708,1},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run03.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,253},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,489},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1091},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1693},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run07.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1420},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_Reel_Run08.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1672},{250,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{250,600}</string>
			</dict>
			<key>ui/WolfLight_respin_collect_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,253},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>ui/WolfLight_respin_collect_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,505},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>ui/WolfLight_respin_start_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,824},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>ui/WolfLight_respin_start_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,994},{317,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,97}</string>
			</dict>
			<key>ui/WolfLight_wheel2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1945},{98,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,630}</string>
			</dict>
			<key>Symbol/WolfLight_top_floor.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,489},{929,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{929,147}</string>
			</dict>
			<key>Symbol/WolfLight_wheel7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{501,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{501,486}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,505},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,727},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_wild_wolf_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,949},{220,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,220}</string>
			</dict>
			<key>Symbol/WolfLight_winframe00.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,505},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe01.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,707},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe02.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1143},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe03.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,909},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe04.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,1171},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe05.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,1373},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe06.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1171},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,253},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,455},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,657},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,1373},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,1093},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,1575},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1777},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,1295},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,1093},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>Symbol/WolfLight_winframe16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,859},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>ui/WolfLight_wheel6_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,489},{837,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{837,89}</string>
			</dict>
			<key>ui/WolfLight_wheel5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,253},{94,643}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,643}</string>
			</dict>
			<key>ui/WolfLight_wheel2_freespin.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1924},{97,630}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,630}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,572},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,783},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,603},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
			<key>Symbol/wolflight_scatter_light19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1497},{183,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Pharaoh3.png</string>
			<key>realTextureFileName</key>
			<string>Pharaoh3.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>